.App {
  margin-top: 40px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#movie-list {
  padding: 20px;
  background-color: #F8F8F8;
}

.movie-row {
  font-size: 15px;
  padding: 10px 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #cacaca;
  position: relative;
  display: table;
  clear: both;
  width: 100%;
}

.movie-row .image {
  float: left;
  position: relative;
  background-color: #eee;
  border: 1px solid rgba(0,0,0,0.1);
}

.movie-row .title {
  font-size: 12px;
  margin-left: 114px;
  margin-right: 0;
  text-align: left;
  font-family: Verdana, Arial, sans-serif;
  color: #333;
}

.movie-row .title p span::before {
  content: " | ";
  color: #ddd;
}

.movie-row .title h3 {
  font-size: 17px;
  margin: 0;
}

.movie-row .title button {
  float: right;
  margin-left: 5px;
}

.movie-row .title .movie-info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-row .title .actors {
  margin-top: 8px;
  color: #337ab7;
}

.movie-row .title .plot {
  overflow: hidden;
  position: relative;
  line-height: 1.4em;
  max-height: 4.2em;
  text-align: justify;
  padding-right: 1.2em;
  font-size: 14px;
}